.main.bg-image(data-bgimage='images/bwin-bg.jpg')
    a(href='#')
        img.bwin-logo(src='images/logo.png' alt='')
img(src='images/left-lighter.png' alt='' class='left-lighter')
img(src='images/right-lighter.png' alt='' class='right-lighter')


