/**------------------------------------------------------------------
 * [Table of contents | Main style]
 *
 * 1. Typography #typography
 * 2. Variables #variables
 * 3. Colors #colors
 * 4. Mixins #mixins
 */
/**
 * Typography #typography
 */
/**
 * Colors #colors
 */
@-webkit-keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}
@-o-keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}
@keyframes showOpacity
{
    0%
    {
        display: block;

        opacity: 0;
    }
    100%
    {
        display: block;

        opacity: 1;
    }
}

@-webkit-keyframes showOpacityTilt
{
    0%
    {
        display: block;

        -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@-o-keyframes showOpacityTilt
{
    0%
    {
        display: block;

        transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

@keyframes showOpacityTilt
{
    0%
    {
        display: block;

        -webkit-transform: translate3d(0, 10%, 0);
                transform: translate3d(0, 10%, 0); 

        opacity: 0;
    }
    100%
    {
        display: block;

        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0); 

        opacity: 1;
    }
}

/**
 * Mixins #mixins
 */
.wrap
{
    position: relative;

    background: #000;
}

.wrap,
.main
{
    display: block;

    height: 100%;
    min-height: 100%;
}

.main
{
    position: relative;

    overflow: hidden; 

    opacity: 0;
    background-color: #000;
}

.main.ready
{
    opacity: 1;
}

.left-lighter,
.right-lighter
{
    position: absolute;
    top: 0;

    opacity: 0;
}

.left-lighter
{
    left: 0;

    width: 60%;
    height: auto;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}

.right-lighter
{
    right: 0;

    width: 60%;
    height: auto;

    -webkit-transition: .5s;
         -o-transition: .5s;
            transition: .5s;
}

.bwin-logo
{
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;

    display: none;

    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
         -o-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

.bg-image
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;

    background-position: center;
    -webkit-background-size: cover;
            background-size: cover;
}

@media screen and (min-width: 768px)
{
    .right-lighter,
    .left-lighter
    {
        width: 50%;
    }
}

@media screen and (min-width: 992px)
{
    .right-lighter,
    .left-lighter
    {
        width: 35%;
    }
}

/*# sourceMappingURL=global.css.map */
