- var pageTitle = 'bwin';
doctype html
html(lang='ru')
    include components/head/head
    body
        .wrap
            include components/header/header
            include parts/comingSoon
        include components/footer/footer
        include components/scripts/scripts



