- var pageTitle = 'bwinXML';
doctype html
html(lang='ru')
    include components/head/head

    body
        include components/header/header
        iframe( src='1768.xml' style='display: block;width: 100%;height: 100%;overflow: hidden;border: none;')


include components/footer/footer
include components/scripts/scripts